<p class="text-2xl md:text-4xl font-bold text-center mb-6 p-2 text-rose-700">
  {{ message }}
</p>
<div class="sm:flex sm:gap-6 flex-col items-center p-2">
  <div class="bg-rose-100 p-6 rounded-lg shadow-md w-full sm:w-[70%]">
    <h3 class="text-center text-lg md:text-xl font-semibold mb-4">My Love,</h3>
    <p class="text-rose-800 leading-relaxed">
      Even though miles stretch between us, my heart is always right there with
      you. Distance may keep us apart physically, but it can never weaken the
      bond we share. Every moment without you only makes me cherish you more,
      and every day brings us closer to the time when we'll be together again.
      And I really can't wait to be in your arms. On this Valentine's Day, I
      just want to remind you that you are deeply loved, missed, and cherished.
      No matter the distance, no matter the time, I will always be here for
      you—cheering you on, supporting you, and loving you with all my heart.
      Even when it gets hard, I will always be there for you.
    </p>
    <p class="mt-4 text-rose-700">
      You are my greatest love, my safest place, and my forever Valentine.
    </p>
    <p class="mt-6">With all my love,</p>
    <p class="font-bold">Your Abike bike</p>
  </div>

  <div class="mt-8 relative w-[400px] h-[500px] bg-red-500 flex justify-center">
    <div
      *ngFor="let image of images; let i = index"
      class="absolute w-full h-full transition-opacity duration-1000"
      [class.opacity-100]="currentIndex === i"
      [class.opacity-0]="currentIndex !== i"
    >
      <img [src]="image" alt="Couple Photo" class="heart-shaped-image" />
    </div>
  </div>
</div>
